<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }
        .container{
            margin: 0 auto;
            max-width: 400px;
        }
        .code {
            color: rgba(192, 31, 36, 1);
            font-size: 23px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="logo"></div>
    <div class="big-title">
        <h1>欢迎您加入 Tomoko</h1>
    </div>
    <article>
        <p>您好，<span th:text="${userName}"></span> ! </p>
        <p>您的验证码：</p>
        <p th:text="${code}" class="code"></p>
        <h2>您账号信息：</h2>
        <h3>邮箱：</h3>
        <p th:text="${mail}"></p>
        <h3>年龄等级：</h3>
        <p th:text="${ageLevel}"></p>
    </article>
    <footer>
        <p>此致 Tomoko &copy;</p>
    </footer>
</div>
</body>
</html>